<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load auth_extras %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link href="{% static 'tag_sentenze/styles.css' %}" rel="stylesheet">
    <link href="{% static 'tag_sentenze/favicon.png' %}" rel="icon">

    {% block script %} {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Toggle burger menu
            var $burgers = getAll('.navbar-burger');

            if ($burgers.length > 0) {
                $burgers.forEach(function ($el) {
                    $el.addEventListener('click', function () {
                        var target = $el.dataset.target;
                        console.log(target);
                        var $target = document.getElementById(target);
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
            // Functions
            function getAll(selector) {
                return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
            }
        });
    </script>
</head>

<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'tag_sentenze:list-sentenze' %}" id="logo">
                <img src="{% static 'tag_sentenze/favicon.png' %}" id="imglogo">
                <span>SenTag</span>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <a class="navbar-item" href="/admin">Admin Page</a>
                {% endif %}
                {% endif %}

                {% if user.is_authenticated %}
                {% if user.is_staff or request.user|is_editor%}
                <!--<a class="nav-link link " style="margin-right: auto;" href="{% url 'users:editor_page' %}">Editor Page</a>-->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-dropdown is-hoverable">
                        Editor
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/register/"> <i class="bi-person"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Add User</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'tag_sentenze:new-schema' %}"> <i class="bi-card-checklist"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Add
                            Schema</a>
                        <a class="navbar-item" href="{% url 'tag_sentenze:multiple-schemas' %}"> <i
                                class="bi-card-checklist" style="font-size: 1.2rem; margin-right: 10px;"></i> Add
                            Schemas</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'tag_sentenze:new-sentenza' %}"> <i class="bi-card-text"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Add Judgment</a>
                        <a class="navbar-item" href="{% url 'tag_sentenze:multiple-judgment' %}"> <i
                                class="bi-card-text" style="font-size: 1.2rem; margin-right: 10px;"></i> Add
                            Judgments</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'users:home-judgment-schema' %}"> <i class="bi-bezier2"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Associate Judgments - Schemas</a>
                        <a class="navbar-item" href="{% url 'users:home-permission' %}"> <i class="bi-bezier"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Associate Judgments - Users</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'users:agreement-page' %}"> <i class="bi-check-all"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Agreement Page</a>
                        <a class="navbar-item" href="{% url 'tag_sentenze:list-taggings' %}"> <i class="bi-download"
                                style="font-size: 1.2rem; margin-right: 10px;"></i> Download Page</a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-dropdown is-hoverable">
                        {{user.username}}
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'logout' %}"> Logout <i class="bi-box-arrow-in-right"
                                style="font-size: 1.2rem; margin-left: 10px;"></i> </a>
                    </div>
                </div>

                {% else %}
                <div class="navbar-item">
                    <a class="navbar-item" href="{% url 'login' %}"> <i class="bi-box-arrow-in-left"
                            style="font-size: 1.2rem; margin-right: 10px;"></i>
                        Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="columns">
        {% csrf_token %}
        <div class="column is-one-quarter top-buffer">
            <div>{% block sidebar %} {% endblock %}</div>
        </div>
        <div class="column is-one-half top-buffer">
            <div>{% block content %} {% endblock %}</div>
        </div>
        <div class="column is-one-quarter top-buffer">
            <div>{% block graph %} {% endblock %}</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
</body>

</html>