{% load static %}
{% load auth_extras %}

<!DOCTYPE html>

<html lang="en">

<head>

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'tag_sentenze/styles.css' %}" rel="stylesheet">
    <link href="{% static 'tag_sentenze/favicon.png' %}" rel="icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block script %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-lg navbar-collapse w-100 order-1 order-md-0 dual-collapse2 navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'tag_sentenze:list-sentenze' %}" id="logo">
                <img class="d-inline-block align-text-top" src="{% static 'tag_sentenze/favicon.png' %}" width="40">
                SenTag
            </a>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="nav-link link" style="margin-right: 5px;" href="/admin">Admin Page</a>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
                {% if user.is_staff or request.user|is_editor%}
                    <!--<a class="nav-link link " style="margin-right: auto;" href="{% url 'users:editor_page' %}">Editor Page</a>-->
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Editor
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/register/">Add User</a>
                            <a class="dropdown-item" href="{% url 'tag_sentenze:new-schema' %}">Add Schema</a>
                            <a class="dropdown-item" href="{% url 'tag_sentenze:multiple-schemas' %}">Add Schemas</a>
                            <a class="dropdown-item" href="{% url 'tag_sentenze:new-sentenza' %}">Add Judgment</a>
                            <a class="dropdown-item" href="{% url 'tag_sentenze:multiple-judgment' %}">Add Judgments</a>
                            <a class="dropdown-item" href="{% url 'users:home-judgment-schema' %}">Associate Judgments - Schemas</a>
                            <a class="dropdown-item" href="{% url 'users:home-permission' %}">Associate Judgments - Users</a>
                            <a class="dropdown-item" href="{% url 'users:agreement-page' %}">Agreement</a>
                            <a class="dropdown-item" href="{% url 'tag_sentenze:list-taggings' %}">Download</a>
                        </div>
                      </div>
                {% endif %}
            {% endif %}

                
            {% if user.is_authenticated %}
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username}}
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'logout' %}"> Logout</a>
                    </div>
                  </div>
            {% else %}
                <li class="nav-item dropdown"><a class="nav-link link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
            
        </div>
    </nav>
    <div class="container-fluid px-2">
        <div class="row gx-2 top-buffer">
            {% csrf_token %}
            <div class="col col-sm-3 sticky-top">
                <div class="p-2 no-border sticky-top">{% block sidebar %} {% endblock %}</div>
            </div>
            <div class="col col-sm-6">
                <div class="p-2 no-border">{% block content %} {% endblock %}</div>
            </div>
            <div class="col col-sm-3 ">
                <div class="p-2 no-border sticky-top ">{% block graph %} {% endblock %}</div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
</body>

</html>