{% extends "tag_sentenze/layout.html" %}

{% block title %}
    Tag Judgment
{% endblock %}

{% block content %}
    <h2 class="title">Tag Judgment</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Judgment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for sentenza in sentenze %}
            <tr>
                <td>{{sentenza.judgment.name}}</td>
                <td><a href="{% url 'tag_sentenze:tag-sentenza' sentenza.id %}"> TAG </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}