{% extends "tag_sentenze/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Tagga sentenza
{% endblock %}


{% block sidebar %}
    {% comment %} {% for tag in tags %}
    <button type="button" class="btn btn-primary">{{tag}}</button>
    {% endfor %} {% endcomment %}

    <div id="classes"></div>
{% endblock %}


{% block content %}
    <h2 class="title">Tagga {{ nome_s }}</h2>
    {% comment %} <form id="sentenza">{{ content_s|crispy }}</form> {% endcomment %}
    <div id="app"></div> 
    {% load static %}
    <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>

{% endblock %}