{% extends "tag_sentenze/layout.html" %}

{% block title %}
    Editor Page
{% endblock %}

{% block sidebar %}
    
{% endblock %}

{% block content %}
    <h2 class="title">Editor Page</h2>
    <div class="border-yop pt-3">
        <a class="nav-item nav-link" href="/register/">Add a User</a>
        <a class="nav-item nav-link" href="{% url 'tag_sentenze:new-schema' %}">Add a Schema</a>
        <a class="nav-item nav-link" href="{% url 'tag_sentenze:multiple-schemas' %}">Add multiple Schemas</a>
        <a class="nav-item nav-link" href="{% url 'tag_sentenze:new-sentenza' %}">Add a Judgment</a>
        <a class="nav-item nav-link" href="{% url 'tag_sentenze:multiple-judgment' %}">Add multiple Judgments</a>
        <a class="nav-item nav-link" href="{% url 'users:home-judgment-schema' %}">Associate judgments to schemas</a>
        <a class="nav-item nav-link" href="{% url 'users:home-permission' %}">Associate judgments to Users</a>
    </div>
{% endblock %}

{% block graph %}
    
{% endblock %}