{% extends "users/layout.html" %}

{% block title %}
    Editor Page
{% endblock %}

{% block nav %}
    <nav label="Page navigation">
        <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="/register/">Add User</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'tag_sentenze:new-schema' %}">Add Schema</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'tag_sentenze:multiple-schemas' %}">Add Schemas</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'tag_sentenze:new-sentenza' %}">Add Judgment</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'tag_sentenze:multiple-judgment' %}">Add Judgments</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'users:home-judgment-schema' %}">Associate Judgments - Schemas</a></li>
                <li class="page-item active"><a class="page-link" href="{% url 'users:home-permission' %}">Associate Judgments - Users</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'users:agreement-page' %}">Agreement</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'tag_sentenze:list-taggings' %}">Download</a></li>
        </ul>
    </nav>
{% endblock %}

{% block sidebar %}
    <div class="navbar navbar-expand-lg">
        <div class="navbar-brand mx-auto">
            <h4 class="title" style="text-align: center;">Users</h4>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link"  href="/register">Add</a>
        </div>
    </div>
    <ul class="list-group" style="overflow-y: auto;">
        {% for user in lista_users %}
            <a class="list-group-item list-group-item-action" href="{% url 'users:user-permission' user.id %}">{{ user }}</a>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <h2 class="title" style="text-align: center;">User-Judgment Association</h2>
    <div class="border-yop pt-3">
        Here you can associate judgments to a selected user
    </div>
{% endblock %}

{% block graph %}
    <div>
        <h4 class="title" style="text-align: center;">Judgments</h4>
    </div>
    <div style="overflow-y: auto; margin-top: 20px;">
        {% for sentenza in sentenze %}
            <div class="card mb-2">
                <div class="card-body">
                    {{ sentenza.name }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}