{% extends "tag_sentenze/layout.html" %}

{% block title %}
List of Tasks for Agreement
{% endblock %}

{% block content %}
<h3 class="title">Tasks Agreement</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Task</th>
            <th>#Docs</th>
            <th>#Users</th>
            <th>Agreement</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.n_docs}}</td>
            <td>{{task.n_users}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'users:list-taggings-agreement' task.id %}"> Compute </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    function downl(id) {
        $.get("/download/" + id, function (data) {
            // console.log(typeof data); // string
            // console.log(data); // HTML content of the jQuery.ajax page

            let filename = data['name'] + ".xml"
            let outputString = data['xml']

            let element = document.createElement("a");
            element.setAttribute(
                "href",
                "data:text/plain;charset=utf-8," + encodeURIComponent(outputString)
            );
            element.setAttribute("download", filename);

            element.style.display = "none";
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        });
    }
</script>
{% endblock %}