{% extends "tag_sentenze/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
Agreement
{% endblock %}

{% block script %}
<script>
    //function that calculate the agreement score of a specific judgment
    function calcAgreement(button) {
        //CSRF
        var csrf = $("input[name=csrfmiddlewaretoken]").val()
        //Judgment ID
        var judgment_id = button.id.substring(5);
        //Trick to generate the correct url
        var dajngo_url = "{% url 'users:calculate-agreement' task_id 12345 %}".replace(/12345/, judgment_id.toString());

        $.ajax({
            url: dajngo_url,
            type: 'post',
            data: {
                selected_judgment: judgment_id,
                csrfmiddlewaretoken: csrf
            },
            success: function (response) {
                var score = response['response']
                var div_name = "#div_score_" + judgment_id.toString()
                $(div_name).text(score)
            },
            error: function (response) {
                alert("An error occurred");
            }
        })

    }
</script>
{% endblock %}

{% block content %}
<h3 class="title">Compute Agreement</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th rowspan="2" style="vertical-align: middle;">Doc</th>
            <th rowspan="2" style="vertical-align: middle;">Agreement</th>
            <th colspan="{{users.count}}" style="text-align: center;">State</th>
        </tr>
        <tr>
            {% for user in users %}
            <th style="text-align: center;">{{ user }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for elem in row|slice:"1:" %}
            <td>
                {% if forloop.counter0 == 1 %}
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend input-group-prepend-sm">
                        <span class="input-group-text" id="div_score_{{ row.0 }}">{{elem}}</span>
                    </div>
                    <div>
                        <button id="Judg_{{ row.0 }}" class="btn btn-info btn-sm"
                            onclick="calcAgreement(this)">Compute</button>
                    </div>
                </div>

                {% else %}
                {% if elem == 2 %}
                <div style="text-align: center;">
                    <span><i class="bi-check-square" style="color:rgb(38, 177, 73); font-size: 1.2rem;"></i></span>
                </div>
                {% elif elem == 1 %}
                <div style="text-align: center;">
                    <span><i class="bi-x-square" style="color:rgb(255, 83, 60); font-size: 1.2rem;"></i></span>
                </div>

                {% else %}
                    {{ elem }}
                {% endif %}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td><strong>All Docs</strong></td>
            <td>
                <div>
                    <button id="Judg_-" class="btn btn-info btn-sm" onclick="calcAgreement(this)">Compute all</button>
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}