{% extends "tag_sentenze/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register New User</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create User</button>
            </div>

        </form>
        <div class="border-yop pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock %}