{% extends "tag_sentenze/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Update User
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group">
                <h2 class="title">Update User</h2>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
                <a href="{% url 'users:manage-users' %}" class="btn btn-danger">Cancel</a>

            </div>

        </form>
    </div>
{% endblock %}